<div id="container" class="container-fluid bg-dark text-light d-flex whole-box">
  <!-- Left side panel for users and rooms -->
  <div id="side_panel" class="col-md-4 col-sm-4 left">
    <h5><%= current_user.email %></h5>
    <h4>Users</h4>
    <%= turbo_stream_from 'users' %>
    <div id="users">
      <%= render @users %>
    </div>
    <h4>Rooms</h4>
    <%= render 'layouts/new_room_form' %>
    <%= turbo_stream_from 'rooms' %>
    <div id="rooms">
      <%= render @rooms %>
    </div>
  </div>
  
  <!-- Right side panel for chat -->
  <div id="chat_container" class="d-flex flex-column right" data-controller="scroll" data-action="turbo:append->scroll#update">
    <% if @single_room %>
      <div id="single_room" class="flex-grow-1">
        <h4 class="text-center"><%= @user&.email || @single_room.name %></h4>
        <%= turbo_stream_from @single_room %>
        <div id="messages" class="overflow-auto">
          <%= render @messages %>
        </div>
        <div id="message_input" class="d-flex align-items-center bg-light p-2">
          <%= render 'layouts/new_message_form' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
